<div class="container">
    <app-filter-panel></app-filter-panel>
    <div class="right-panel">
        <app-sort-panel></app-sort-panel>
        <div class="recipes" [class]="!loading ? 'loaded' : ''">
            <ng-container *ngIf="!loading; else loadingPicture">
                <app-recipes-list [recipes]="recipes"></app-recipes-list>
                <tui-loader *ngIf="loading"></tui-loader >
            </ng-container>
        </div>
    </div>
</div>

<ng-template #loadingPicture>
    <div class="skeletons">
        <div
                *ngFor="let skeleton of skeletonArray"
                class="recipe-skeleton"
                [class.tui-skeleton]="true"
        ></div>
    </div>
</ng-template>
