<div class="container">
    <app-filter-panel (filterValuesChanges)="findRecipes($event)"></app-filter-panel>
    <div class="right-panel">
        <app-sort-panel (changedSortMethod)="findRecipes(undefined, $event)"></app-sort-panel>
        <div class="recipes" [class]="!loading ? 'loaded' : ''">
            <ng-container *ngIf="!loading; else loadingPicture">
                <app-recipes-list [recipes]="recipes"></app-recipes-list>
            </ng-container>
        </div>
    </div>
</div>

<ng-template #loadingPicture>
    <div class="skeletons">
        <tui-loader [overlay]="true">
        </tui-loader>
        <div
                *ngFor="let skeleton of skeletonArray"
                class="recipe-skeleton"
                [class.tui-skeleton]="true"
        ></div>
    </div>
</ng-template>