@import 'src/assets/styles/_variables.scss';

.container {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-top: $base-element-top-margin;

    .right-panel {
        width: 100%;
        margin-left: 20px;
    }
}

app-filter-panel {
    width: 260px;
}

.recipes {
    margin-top: 15px;
}
