@import 'src/assets/styles/_variables.scss';

section {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-top: $base-element-top-margin;
}

app-filter-panel {
    width: 260px;
}

app-sort-panel {
    width: 100%;
    margin-left: 20px;
}
