@import 'src/assets/styles/_variables.scss';

.container, .recipes {
    margin-top: $base-element-top-margin;
}

@keyframes hide {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media (min-width: 900px) {
    .container {
        display: flex;
        justify-content: space-between;
        align-items: start;

        animation-duration: 1s;
        animation-name: hide;

        .right-panel {
            width: 100%;
            margin-left: 20px;
        }
    }

    app-filter-panel {
        width: 260px;
    }

    .recipes {
        position: relative;
        min-width: 1px;

        app-recipes-list {
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
        }
    }
}

@media (max-width: 899px) {
    app-filter-panel {
        width: 100%;
    }

    .right-panel {
        margin-top: $base-element-top-margin;

        animation-duration: 1s;
        animation-name: hide;
    }
}