@import 'src/assets/styles/_variables.scss';

.container {
    margin-bottom: 22px;;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
}

svg path {
    stroke: $icon-color;
}
