<div class="container">
    <div class="right-container">
        <img src="assets/img/search-logo.svg" alt="search-logo" width="221" height="37">
    </div>
    <div class="left-container">
        <form [formGroup]="form">
            <p>
                <tui-input
                        formControlName="recipeName"
                        tuiTextfieldSize="s"
                        [tuiTextfieldCleaner]="true"
                >
                    Введите название блюда
                    <input
                            autocomplete="recipes"
                            tuiTextfield
                            type="text"
                    />
                </tui-input>
            </p>
        </form>
    </div>
</div>
