<div class="container">
    <div *ngIf="recipe; else loading">
        <h1>{{recipe.title.rus}}</h1>
        <app-characteristics
                [cookingTime]="recipe.readyInMinutes"
                [calories]="200"
        ></app-characteristics>
        <app-tags
                [isCheap]="recipe.cheap"
                [isDairyFree]="recipe.dairyFree"
                [isGlutenFree]="recipe.glutenFree"
                [isVegan]="recipe.vegan"
                [isVegetarian]="recipe.vegetarian"
                [isVeryHealthy]="recipe.veryHealthy"
                [isVeryPopular]="recipe.veryPopular"
        ></app-tags>
        <div class="main-container">
            <div class="left-container">
                <div
                        class="image"
                        style="background-image: url({{recipe.image}})"
                ></div>
<!--                <app-nutrients [nutrients]="recipe.nutrients"></app-nutrients>-->
                <div class="ingredients">
                    <h2>Ингридиенты:</h2>
                    <ul>
                        <li *ngFor="let ingredient of recipe.ingredients">
                            {{ingredient.name?.rus}} - {{ingredient.amount}} {{ingredient.unit?.rus}}
                        </li>
                    </ul>
                </div>
                <div class="ingredients">
                    <h2>Способы приготовления:</h2>
                    <ul>
                        <li *ngFor="let ingredient of recipe.ingredients">
                            {{ingredient.name}}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="steps">
                <h2>Шаги приготовления:</h2>
                <ul >
                    <li *ngFor="let step of recipe.instructions[0].steps"></li>
                </ul>
            </div>
        </div>
    </div>
    <ng-template #loading>
        <tui-loader [inheritColor]="true" size="l"></tui-loader>
    </ng-template>
</div>
