<div class="container">
    <div *ngIf="recipe; else loading">
        <h1>{{recipe.title.rus}}</h1>
        <app-characteristics
                [cookingTime]="recipe.readyInMinutes"
                [calories]="200"
        ></app-characteristics>
        <app-tags
                [isCheap]="recipe.cheap"
                [isDairyFree]="recipe.dairyFree"
                [isGlutenFree]="recipe.glutenFree"
                [isVegan]="recipe.vegan"
                [isVegetarian]="recipe.vegetarian"
                [isVeryHealthy]="recipe.veryHealthy"
                [isVeryPopular]="recipe.veryPopular"
        ></app-tags>
        <div class="main-container">
            <div class="left-container">
                <div
                        class="image"
                        style="background-image: url({{recipe.image}})"
                ></div>
<!--                <app-nutrients [nutrients]="recipe.nutrients"></app-nutrients>-->
                <app-ingredients-list [ingredients]="recipe.ingredients"></app-ingredients-list>
            </div>
            <app-steps-list [steps]="recipe.instructions[0].steps"></app-steps-list>
        </div>
    </div>
    <ng-template #loading>
        <tui-loader [inheritColor]="true" size="l"></tui-loader>
    </ng-template>
</div>
