@import 'src/assets/styles/_variables.scss';

.container {
    padding: $recipe-padding;
    background-color: $base-element-color;
    border-radius: $card-border-radius;
}

h1 {
    text-align: center;
    font-family: $recipe-title-font;
    font-size: $recipe-title-size;
}

ul {
    padding-left: 24px;
}

.characteristics-container {
    margin-top: 18px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;

    .characteristic-item {
        display: flex;
        align-items: center;
        gap: 6px;

    }

    p {
        font-family: $card-characteristics-font;
        font-size: 20px;
    }
}

.tags-container {
    margin-top: 22px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;

    .tag {
        display: flex;
        align-items: center;
        gap: 6px;
    }

    p {
        font-family: $card-characteristics-font;
        font-size: 20px;
        color: $icon-color;
        text-decoration: underline;
    }
}

.main-container {
    margin-top: 40px;
    display: flex;
    gap: 40px;

    h2 {
        font-family: $regular-accents-text-family;
        font-size: 22px;
        margin-bottom: 14px;
    }

    .left-container {
        .image {
            margin-bottom: 20px;
            background-position: center center;
            background-size: cover;
            height: 230px;
            width: 312px;
            border-radius: 20px;
        }

        h2 {
            margin-top: 20px;
            margin-bottom: 10px;
        }

        li {
            font-size: 18px;
            margin-bottom: 4px;
            list-style-type: disc;
        }

    }

    .steps {
       li {
           font-size: 22px;
           margin-bottom: 12px;
           line-height: 1.5em;
           list-style-type: decimal;
       }
    }
}

