<div class="container">
    <div *ngIf="recipe; else loader">
        <h1>{{recipe.title.rus}}</h1>
        <app-characteristics
                [cookingTime]="recipe.readyInMinutes"
                [calories]="200"
        ></app-characteristics>
        <app-tags
                [isCheap]="recipe.cheap"
                [isDairyFree]="recipe.dairyFree"
                [isGlutenFree]="recipe.glutenFree"
                [isVegan]="recipe.vegan"
                [isVegetarian]="recipe.vegetarian"
                [isVeryHealthy]="recipe.veryHealthy"
                [isVeryPopular]="recipe.veryPopular"
        ></app-tags>
        <div class="main-container">
            <div>
                <img
                        [ngSrc]="recipe.image || ''"
                        [alt]="recipe.title.rus"
                        width="312"
                        height="230"
                >
<!--                <app-nutrients [nutrients]="recipe.nutrients"></app-nutrients>-->
                <app-ingredients-list [ingredients]="recipe.ingredients || []"></app-ingredients-list>
            </div>
            <app-steps-list [steps]="recipe.instructions[0].steps"></app-steps-list>
        </div>
    </div>
    <ng-template #loader>
        <div class="loader">
            <tui-loader [inheritColor]="true" size="l"></tui-loader>
        </div>
    </ng-template>
</div>
