@import 'src/assets/styles/_variables.scss';

h2 {
    font-family: $regular-accents-text-family;
    font-size: 22px;
    margin-bottom: 14px;
}

ul {
    padding-left: 24px;
}

li {
    font-size: 22px;
    margin-bottom: 12px;
    line-height: 1.5em;
    list-style-type: decimal;
}
