@import 'variables';

.account-icon, .account-icon svg {
    width: 30px;
    height: 30px;
}

.account-icon svg path {
    fill: $nav-text-color;
}

.active svg path {
    fill: $hover-nav-color;
}

.account-icon {
    &:hover svg path {
        fill: $hover-nav-color;
    }
}
