@import 'src/assets/styles/_variables.scss';

tui-tag {
    background-color: $icon-color!important;
    margin-right: 4px;
}

.values {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;

    li {
        background: $icon-color;
        border-radius: $ingredient-border-radius;
        padding: $ingredient-padding;
        display: flex;
        margin-top: 6px;
        margin-right: $ingredient-margin-right;

        p {
            margin: 0;
            color: $ingredient-color;
            font-family: $ingredient-font;
            font-size: $ingredient-size;
            font-weight: 400;
            user-select: none;
        }

        .cross-icon {
            background: url("../../../../assets/img/cross.svg");
            background-size: 8px;
            width: 8px;
            height: 8px;
            cursor: pointer;
            align-self: center;
            margin-top: 3px;
            margin-left: 7px;
        }
    }
}
