<label>
    <tui-multi-select
            *tuiLet="items$ | async as items"
            placeholder="placeholder"
            class="b-form"
            [expandable]="false"
            [formControl]="control"
            [tuiTextfieldSize]="size"
            (searchChange)="onSearchChange($event)"
    >
        {{placeholder}}
        <tui-data-list-wrapper
                *tuiDataList
                [itemContent]="itemContent"
                [items]="items | tuiHideSelected"
        ></tui-data-list-wrapper>
    </tui-multi-select>
</label>

<ng-template
    #itemContent
    let-data
>
    <div class="template">
        {{ data }}
    </div>
</ng-template>
