<label>
    <tui-multi-select
            *tuiLet="items$ | async as items"
            placeholder="placeholder"
            class="b-form"
            [expandable]="false"
            [formControl]="control"
            [tuiTextfieldSize]="size"
            (searchChange)="onSearchChange($event)"
            [valueContent]="controlItem"
    >
        <!--            [valueContent]="control.value"-->
        {{placeholder}}
        <tui-data-list-wrapper
                *tuiDataList
                [itemContent]="itemContent"
                [items]="items | tuiHideSelected"
        ></tui-data-list-wrapper>
    </tui-multi-select>
</label>
{{control.value}}

<ng-template
    #itemContent
    let-data
>
    <div class="template">
        {{ data }}
    </div>
</ng-template>

<ng-template
        #controlItem
        let-data
>
    <div>
        <div>{{data}}</div>
        <div></div>
    </div>
</ng-template>
