<tui-multi-select
        *tuiLet="items$ | async as items"
        placeholder="placeholder"
        class="b-form"
        [expandable]="false"
        [tuiTextfieldSize]="size"
        (searchChange)="onSearchChange($event)"
        (tuiValueChanges)="onValueChanges($event)"
        [(ngModel)]="values"
        [valueContent]="valueContent"
>
    {{placeholder}}
    <tui-data-list-wrapper
            *tuiDataList
            [itemContent]="itemContent"
            [items]="items | tuiHideSelected"
    ></tui-data-list-wrapper>
</tui-multi-select>

<ng-template
    #itemContent
    let-data
>
    <div class="template">
        {{ data }}
    </div>
</ng-template>

<ng-template
    #valueContent
    let-list
>
    <ng-container *ngFor="let item of list">
        <tui-tag
                size="s"
                class="t-tag"
                [removable]="true"
                [value]="item"
                (edited)="deleteItem(item)"
        ></tui-tag>
    </ng-container>
</ng-template>

<ul class="values" *ngIf="values && showList">
    <li *ngFor="let value of values; index as i">
        <p>{{value.title}}</p>
        <div class="cross-icon" (click)="deleteItem(value)"></div>
    </li>
</ul>
