@import 'src/assets/styles/_variables.scss';

.media {
    min-height: 100vh;
    width: min($max-media-width, calc(100% - $min-media-margin));
    margin: $base-element-top-margin auto 0 auto;
    font-family: $regular-text-family;
}

.footer {
    margin-top: 20px;
    height: 50px;
    width: 100%;
}
