@import 'src/assets/styles/_variables.scss';

.container {
    background-color: $base-element-color;
    border-radius: $base-border-radius;
    padding: 6px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
}

h1 {
    font-family: $regular-accents-text-family;
    font-size: 18px;
    margin-right: 15px;

    b {
        font-size: 20px;
    }
}

h1, app-sort {
    margin-top: 5px;
    margin-bottom: 5px;
}