<div class="container">
    <nav>
        <ul>
            <li>
                <a>
                    <img src="assets/img/logo.svg" alt="logo" width="66.07px" height="29.54px">
                </a>
            </li>
            <li>
                <a>
                    Главная
                </a>
            </li>
            <li>
                <a>
                    Поиск рецептов
                </a>
            </li>
            <li>
                <a>
                    Подписки
                </a>
            </li>
            <li>
                <a>
                    <img src="assets/img/account.svg" alt="logo" width="31" height="31">
                </a>
            </li>
        </ul>
    </nav>
</div>
