@import 'src/assets/styles/_variables.scss';

.container {
    width: 100%;
    background: $base-element-color;
    position: sticky;
    z-index: 1000;
    top: 0;
}

nav {
    padding: 7px $media-vertical-padding 7px $media-vertical-padding;
    font-size: $nav-font-size;
    font-family: $nav-font-family;
}

ul {
    max-width: $max-media-width - 2 * $media-vertical-padding;
    padding: 0 20px 0 20px;
    margin: 0 auto 0 auto;
    display: flex;
    align-items: center;
}

ul li {
    margin-left: min(41px, 4%);
    white-space: nowrap;
}

ul li:first-child {
    margin-left: 0;
}

ul li:last-child {
    padding-left: 20px;
    margin-left: auto;
}

a {
    color: $nav-text-color;
}

a:hover {
    color: $hover-nav-color;
}

a:active {
    color: $active-nav-color;
}

.account-icon {
    width: 31px;
    height: 31px;
    background: url("../../../assets/img/account.svg");
    background-size: 31px;
}

.account-icon:hover {
    background: url("../../../assets/img/account_hover.svg");
    background-size: 31px;
}

.account-icon:active {
    background: url("../../../assets/img/account_active.svg");
    background-size: 31px;
}

.logo-icon {
    width: 66px;
    height: 30px;
    background: url("../../../assets/img/logo.svg");
    background-size: 66px 30px;
    background-position-y: 0;
}

.logo-icon:hover {
    background: url("../../../assets/img/logo_hover.svg");
    background-size: 66px 30px;
    background-position-y: 0;
}

.logo-icon:active {
    background: url("../../../assets/img/logo_active.svg") top;
    background-size: 66px 30px;
    background-position-y: 0;
}
