<div class="container">
    <nav>
        <ul>
            <li>
                <a>
                    <div class="logo-icon"></div>
                </a>
            </li>
            <li>
                <a>
                    Главная
                </a>
            </li>
            <li>
                <a>
                    Поиск рецептов
                </a>
            </li>
            <li>
                <a>
                    Подписки
                </a>
            </li>
            <li>
                <a>
                    <div class="account-icon"></div>
                </a>
            </li>
        </ul>
    </nav>
</div>
