@import 'src/assets/styles/_variables.scss';

@font-face {
    font-family: "Morice Bejar";
    font-style: normal;
    font-weight: 400;
    src: local("Morice Bejar"),
    url("assets/fonts/Morice-Bejar.ttf") format("ttf")
}

@font-face {
    font-family: "Relic";
    font-style: normal;
    font-weight: 400;
    src: local("Relic Regular"),
    url("assets/fonts/Relic-Regular.otf") format("otf")
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: #000000;
    cursor: pointer;
}

li {
    list-style-type: none;
}
ul {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

:active, :hover, :focus {
    outline: 0;
}

:root {
    background-color: $background-color;
}
