@import 'src/assets/styles/_variables.scss';

@font-face {
    font-family: "Morice Bejar";
    font-style: normal;
    font-weight: 400;
    src: local("Morice Bejar"),
    url("assets/fonts/Morice-Bejar.ttf") format("ttf")
}

@font-face {
    font-family: "Relic";
    font-style: normal;
    font-weight: 400;
    src: local("Relic Regular"),
    url("assets/fonts/Relic-Regular.otf") format("otf")
}

body {
    margin: 0;
    background-color: $background-color!important;
}

a {
    text-decoration: none;
    color: #000000;
    cursor: pointer;
}

button {
    padding: 0;
    cursor: pointer;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
}

p, h1, h2, h3, h4, h5 {
    margin: 0;
}

li {
    list-style-type: none;
}
ul {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

:active, :hover, :focus {
    outline: 0;
}

.end-hidden {
    position: relative;
}

.end-hidden::before {
    content: '';
    position: absolute;
    display: block;
    width: 27px;
    background: linear-gradient(270deg, #FFF 0%, rgba(255, 255, 255, 0.70) 21.81%, rgba(255, 255, 255, 0.00) 39.63%);
    height: 28px;
    z-index: 50;
    right: 0;
}
