@import 'src/assets/styles/_variables.scss';

@font-face {
    font-family: "Morice Bejar";
    font-style: normal;
    font-weight: 400;
    src: local("Morice Bejar"),
    url("assets/fonts/Morice-Bejar.ttf") format("ttf")
}

@font-face {
    font-family: "Relic";
    font-style: normal;
    font-weight: 400;
    src: local("Relic Regular"),
    url("assets/fonts/Relic-Regular.otf") format("otf")
}

body {
    margin: 0;
    background-color: $background-color!important;
}

a {
    text-decoration: none;
    color: #000000;
    cursor: pointer;
}

p, h1, h2, h3, h4, h5 {
    margin: 0;
}

li {
    list-style-type: none;
}
ul {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

:active, :hover, :focus {
    outline: 0;
}

tui-carousel fieldset {
    min-width: fit-content !important;
    max-width: fit-content !important;
    width: fit-content !important;
    flex-basis: fit-content !important;
}

tui-carousel t-items {
    translateX: 5% !important;
}
