// цвета заливок
$background-color: #DEE2E6;


// шрифты
$regular-text-family: 'Gentium Plus', serif;
$regular-text-color: #000;


// размеры margins
$min-media-margin: 30px;

// размеры paddings


// размеры
$max-media-width: 1306px;
