@import "src/assets/styles/cutterror_theme.scss";

// перезапись taiga ui

// иконки-кнопки
:root {
  --tui-primary: var(--primary);
  --tui-primary-hover: var(--primary-hover);
  --tui-primary-active: var(--primary-active);
  --tui-secondary: var(--secondary);
  --tui-secondary-hover: var(--secondary-hover);
  --tui-secondary-active: var(--secondary-active);


  // цвет скелетонов
  --tui-clear-hover: rgba(255, 255, 255, 0.75);
  --tui-skeleton-radius: var(--card-radius);
}
