@import "src/assets/styles/chocolate_theme.scss";

// перезапись taiga ui

// иконки-кнопки
:root {
  --tui-primary: var(--primary);
  --tui-primary-hover: var(--primary-hover);
  --tui-primary-active: var(--primary-active);
  --tui-secondary: var(--secondary);
  --tui-secondary-hover: var(--secondary-hover);
  --tui-secondary-active: var(--secondary-active);
}
