// root переменные для перезаписи taiga ui css и custom scss переменных
:root {
  --primary: #1F7A8C;
  --primary-hover: #66adb7;
  --primary-active: #136575;

  --secondary: #e1e5ea;
  --secondary-hover: #d4dae0;
  --secondary-active: #bfcad2;
}


// цвета заливок
$background-color: #ebebef;
$base-element-color: #FFF;

// округления
$base-border-radius: 12px;


// шрифты
$regular-text-family: 'Gentium Plus', serif;
$regular-text-color: #000;

$regular-accents-text-family: 'Gentium Book Plus', serif;

$accents-text-family: 'Morice Bejar', serif;
$accents-text-color: #000;

// размеры шрифтов
$h1-size: 25px;

// стили шрифтов
$h1-decoration: underline;


// размеры
$max-media-width: 1328px;

// размеры margins
$base-element-top-margin: 15px;
$min-media-margin: 30px;

// размеры paddings
$media-vertical-padding: 15px;

// шрифт навигации
$nav-font-size: 22px;
$nav-font-family: $accents-text-family;
$nav-text-color: #00171F;

// взаимодействие
$hover-nav-color: #007EA7;
$active-nav-color: #64828B;

// иконки/кнопки
$icon-color: var(--primary);
$second-icon-color: var(--primary-hover);

// элементы ингредиентов
$ingredient-font: $regular-text-family;
$ingredient-size: 16px;
$ingredient-color: #FFF;
$ingredient-background-color: $icon-color;
$ingredient-border-radius: 7px;
$ingredient-padding: 2px 8px 6px 8px;
$ingredient-margin-right: 8px;


// карточки рецептов
$card-padding: 29px 30px 29px 20px;

$card-image-height: 200px;
$card-image-width: 200px;
$card-image-border-radius: 20px 0px 0px 20px;

$card-title-font: $regular-accents-text-family;
$card-title-size: 22px;

$card-characteristics-font: $regular-text-family;
$card-characteristics-size: 16px;