@import 'variables';

$space-size: 22px;

.container {
    background: $base-element-color;
    border-radius: $base-border-radius;
    padding: 7px 0 10px 0;
    display: flex;
    align-items: center;
}

.left-container {
    display: flex;
    align-items: center;
    margin: 0 $space-size 0 $space-size;

    .min-search-icon {
        width: 30px;
        height: 30px;
    }

    h1 {
        user-select: none;
        text-wrap: nowrap;
        font-family: $accents-text-family;
        font-size: $h1-size;
        text-decoration-line: $h1-decoration;
    }

    .min-search-icon path{
        fill: $icon-color;
    }
}

.right-container {
    width: 100%;
    padding: 0 $space-size 0 $space-size;
    margin: 0 auto 0 auto;
    max-width: 967px;

    input {
        width: 100%;
    }
}
