@import 'variables';

.container {
    background: $base-element-color;
    border-radius: $base-border-radius;
    padding: 7px 28px 10px 28px;
    display: flex;
    align-items: center;
}

.left-container {
    width: 100%;
    padding: 0 16px 0 16px;
    margin-left: auto;
    max-width: 967px;
}

input {
    width: 100%;
}
