<div class="container">
    <form [formGroup]="filteringParamsForm">
        <div class="search-severity flex">
            <ng-container [ngSwitch]="getControl('isSearchLoose').value">
                <label *ngSwitchCase="false" for="isSearchLoose">Из того, что есть</label>
                <label *ngSwitchCase="true" for="isSearchLoose">Из того, что хочу</label>
            </ng-container>
            <tui-toggle
                    [tuiHint]="tooltip"
                    id="isSearchLoose"
                    formControlName="isSearchLoose"
                    size="l"
            ></tui-toggle>
        </div>
        <ng-container [ngSwitch]="getControl('isSearchLoose').value">
            <p *ngSwitchCase="false"><i>Строгий</i> поиск рецептов из того, что есть.</p>
            <p *ngSwitchCase="true"><i>Нестрогий</i> поиск рецептов из того, что хочется.</p>
        </ng-container>
        <ul class="filters">
<!--            <li>-->
<!--                <label>Способы/тара</label>-->
<!--                <app-async-select-->
<!--                        [placeholder]="'Введите доступные вам способы/тару'"-->
<!--                ></app-async-select>-->
<!--            </li>-->
            <li>
                <label>Пищевая ценность</label>
                <app-input-range
                        [control]="getControl('nutritionalValues')"
                        [pluralize]="{other: 'Ккал'}"
                        [minValue]="nutritionalInputMinValue"
                        [maxValue]="nutritionalInputMaxValue"
                        [steps]="nutritionalInputSteps"
                ></app-input-range>
            </li>
            <li>
                <label>Категории</label>
               <app-select
                    [control]="getControl('categories')"
                    [items]="categories"
               >
               </app-select>
            </li>
            <hr>
            <li>
                <label>Игредиенты</label>
                <app-async-select
                    [control]="getControl('ingredients')"
                    [databaseMockData]="ingredientsMockData"
                ></app-async-select>
            </li>
        </ul>
    </form>
</div>

<ng-template #tooltip>
    <div>Переключение строгости фильтрации</div>
</ng-template>
