<div class="container">
    <form [formGroup]="form">
        <div class="search-severity flex">
            <ng-container [ngSwitch]="isSearchLoose">
                <label *ngSwitchCase="true" for="isSearchLoose">Из того, что есть</label>
                <label *ngSwitchCase="false" for="isSearchLoose">Из того, что хочу</label>
            </ng-container>
            <tui-toggle
                    id="isSearchLoose"
                    formControlName="isSearchLoose"
                    size="l"
            ></tui-toggle>
        </div>
        <ng-container [ngSwitch]="isSearchLoose">
            <p *ngSwitchCase="true"><i>Строгий</i> поиск рецептов из того, что есть.</p>
            <p *ngSwitchCase="false"><i>Нестрогий</i> поиск рецептов из того, что хочется.</p>
        </ng-container>
        <ul class="filters">
<!--            <li>-->
<!--                <label>Способы/тара</label>-->
<!--                <app-async-select-->
<!--                        [placeholder]="'Введите доступные вам способы/тару'"-->
<!--                ></app-async-select>-->
<!--            </li>-->
            <li>
                <label>Пищевая ценность</label>
                <app-input-range
                        [placeholder]="'Пищевая ценность на 100 гр.'"
                        [pluralize]="{other: 'Ккал'}"
                        [control]="getControl('nutritionalValues')"
                        [maxValue]="1000"
                        [minValue]="100"
                        [steps]="18"
                ></app-input-range>
            </li>
            <li>
                <label>Категории</label>
                <app-async-select
                        [control]="getControl('categories')"
                        [databaseMockData]="categoriesMockData"
                ></app-async-select>
            </li>
            <hr>
            <li>
                <label>Игредиенты</label>
                <app-async-select
                        [control]="getControl('ingredients')"
                        [databaseMockData]="ingredientsMockData"
                        [itemsChanged$]="ingredientsChanged$"
                ></app-async-select>
            </li>
        </ul>
        <ul class="ingredients" *ngIf="selectedIngredients">
            <li *ngFor="let ingredient of selectedIngredients; index as i">
                <p>{{ingredient.title}}</p>
                <div class="cross-icon" (click)="deleteIngredient(i)"></div>
            </li>
        </ul>
    </form>
</div>
