@import 'src/assets/styles/_variables.scss';

.container {
    background-color: $base-element-color;
    border-radius: $base-border-radius;
    padding: 22px;
    width: 216px;
}

.search-severity {
    display: flex;

    label {
        display: block;
        font-family: $accents-text-family;
        font-size: 22px;
    }

    tui-toggle {
        margin-left: auto;
    }
}

p {
    font-family: $regular-accents-text-family;
    font-size: 16px;
    font-weight: bolder;
    color: #495057;
    margin-top: 10px;
}

p i {
    font-size: 18px;
}

ul.filters {
    li {
        margin-top: 14px;
    }

    li:first-child {
        margin-top: 24px;
    }

    hr {
        margin-top: 25px;
    }

    li:last-child {
        margin-top: 15px;
    }

    label {
        display: block;
        font-family: $regular-accents-text-family;
        font-size: 16px;
        font-weight: 600;
        color: $regular-text-color;
        margin-bottom: 4px;
    }
}
